header {
  .flexbox(nowrap, row, space-between, center);
  background-color: @dark-gray;
  height: 7.5vh;
  position: fixed;
  top: 0;
  width: 100%;

  .header-title {
    height: 100%;
    margin-left: 5%;

    img {
      height: 100%;
    } // closes img
  } // closes header-title

  nav {
    .flexbox(nowrap, row, space-between, center);
    width: 30%;
    max-width: 350px;
    margin-right: 5%;

    a {
      color: @white;
      font-size: 2rem;
    } // closes a
  } // closes nav
} // closes header
