header {
  .flexbox(nowrap, row, space-between, center);
  background-color: @dark-gray;
  height: 75px;
  position: fixed;
  top: 0;
  width: 100%;

  @media @large {
    .flexbox(nowrap, row, center, center);
  } // closes @media @large

  .logo-wrapper {
    height: 100%;
    margin-left: 5%;

    @media @large {
      display: none;
    } // closes @ media @ large

    img {
      height: 100%;
    } // closes img
  } // closes header-title

  nav {
    .flexbox(nowrap, row, space-between, center);
    width: 350px;
    margin-right: 5%;

    a {
      color: @white;
      font-size: 2rem;
      text-decoration: none;

      @media @small {
        font-size: 1.4rem;
      } // closes a media small
    } // closes a

    @media @large {
      margin: 15px;
    } // closes nav media large
  } // closes nav
} // closes header
