.home-wrapper {
  .flexbox(nowrap, column, space-between, center);
  min-height: 100vh;

  .home-content {
    .flexbox(nowrap, column, center, center);

    .photo-greeting {
      .flexbox(nowrap, row, space-around, center);
      margin-top: 20vh;
      width: 800px;
      max-width: 90%;

      img {
        border-radius: 100%;
        width: 250px;

        @media @mid {
          margin-bottom: 20px;
        } // closes img media mid
      } // closes img

      .greeting {
        .flexbox(nowrap, column, center, center);
        text-align: center;

        h1 {
          font-size: 7rem;
          color: @black;

          strong {
            font-weight: 600;
          } // closes strong

          @media @small {
            font-size: 5rem;
          } // closes h1 media small
        } // closes h1
        h2 {
          color: @gray;
          margin-top: 25px;

          @media @small {
            font-size: 3.6rem;
          } // closes h2 media small
        } // closes h2
      } // closes .greeting

      @media @mid {
        .flexbox(nowrap, column, space-around, center);
        width: 90%;
      } // closes photo-greeting media mid
    } // closes .photo-greeting

    p {
      margin-top: 50px;
      font-size: 2.4rem;
      line-height: 3.6rem;
      width: 80%;
      text-align: center;

      @media @small {
        font-size: 1.6rem;
        line-height: 2.4rem;
      } // closes p media small
    } // closes p

    .button {
      .buttons(@green, @black, 50px, 200px);
      margin: 50px 0;
    } // closes .button
  } // closes .home-content

  .arrow-wrapper {
    .arrow-color(@green, @white);
  } // closes .arrow-wrapper
} // closes .home-wrapper
