.flexbox( @wrap, @direction, @justify, @align) {
  display: flex;
  flex-wrap: @wrap;
  flex-direction: @direction;
  justify-content: @justify;
  align-items: @align;
} // closes .flexbox

.buttons(@bg-color, @txt-color, @height, @width) {
  // .flexbox(nowrap, row, center, center);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @bg-color;
  color: @txt-color;
  text-decoration: none;
  width: @width;
  height: @height;
  border-radius: 2.5em;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  &:hover {
    opacity: 0.9;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
  } // closes &:hover
  &:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  } // closes &:active
} // closes .button

.arrow-color(@bg-color, @poly-color) {
  background-color: @bg-color;
  height: 100px;
  width: 100%;

  polygon {
    fill: @poly-color;
  } // closes polygon
} // closes .arrow-wrapper

.form-field () {
  border-radius: 7.5px;
  background-color: @dark-gray;
  font-family: "Roboto", "sans-serif";
  color: @white;
  font-size: 1.6rem;
  line-height: 2.4rem;
  box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05),
    0px 1px 0px 0px rgba(255, 255, 255, 0.025);
  border: none;
  margin: 5px;
  padding: 10px;
} // closes .form-field
